
<ng-container >
    <nav class="nav_menu" mat-tab-nav-bar>
        <a class="nav_item" mat-tab-link [active]="value === home" (click)="value = home" href="#home">Home</a>
        <a class="nav_item" mat-tab-link   [active]="value === service" (click)="value = service" href="#service">Services</a>
        <a class="nav_item" mat-tab-link   [active]="value === testimonial" (click)="value = testimonial" href="#testimonial">Testimonial</a>
        <a class="nav_item" mat-tab-link   [active]="value === contact" (click)="value = contact" href="#contact">Contact</a>
   </nav>
</ng-container>