
.shopify_logo {
    height: 90vh;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 374px) {
    .shopify_logo {
        display: none;
    }
}