
.shopify_logo {
    height: 90vh;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px){
    .shopify_logo {
        display: none;
    }
}