.app-header {
    height: 20%;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
@media only screen and (max-width: 768px){
    .app-header {
        height: 20%;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }

}
@media screen and (max-width: 768px) {
    .app-header {
        height: 20%;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}