.app-header {
    height: 20%;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}