.app-header {
    height: 20%;
    width: 100vw;
    background: linear-gradient(to right, gray, rgb(131, 131, 131), rgb(207, 207, 207), white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-color: transparent;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
        height: 100%;
        width: 60%;
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}