<ng-container >
    <div class="contact">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Bishnu Dahal</mat-card-title>
                <mat-card-subtitle>Consultant</mat-card-subtitle>
                <img src="https://previews.123rf.com/images/djvstock/djvstock1610/djvstock161004225/64775568-teen-boy-character-avatar-vector-illustration-design.jpg" mat-card-avatar>
            </mat-card-header>
            <mat-form-field appearance="legacy">
                <mat-label>Mat Label Example</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Mat Label Example</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Mat Label Example</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Mat Label Example</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </mat-card>
      
        
    </div>
</ng-container>