.contact {
    height: 80vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    margin-top: 80px;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
 justify-content: center;
 align-items: center;
}
.liquid-img {
    width: 100px;
    height: 150px;
}
.card {
    width: 700px;
    height: 400px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }