<ng-container >
    <div class="contact">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Bishnu Dahal</mat-card-title>
                <mat-card-subtitle>Consultant</mat-card-subtitle>
                <img src="https://previews.123rf.com/images/djvstock/djvstock1610/djvstock161004225/64775568-teen-boy-character-avatar-vector-illustration-design.jpg" mat-card-avatar>
            </mat-card-header>
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input required value="userEmail" matInput placeholder="example@gmail.com" [(ngModel)]="userEmail">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
                <mat-label>Full Name</mat-label>
                <input required value="username" matInput placeholder="John Doe" [(ngModel)]="username">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
                <mat-label>Message</mat-label>
                <textarea required value="message" matInput [(ngModel)]="message"></textarea>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="test()" >submit</button>
        </mat-card>
      
        
    </div>
</ng-container>