.home {
    background: rgb(223, 223, 223);
    height: auto;
    width: 100vw;

}
.headline {
    height: 100vh;
    width: 100%;
    background: green;
}
.projects {
    height: auto;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    
}