/* $cornflower-blue: #919BFFff;
$cornflower-blue-2: #7C8BEDff;
$glaucous: #677BDBff;
$han-blue: #526BCAff;
$cerulean-blue: #3D5AB8ff;
$cobalt-blue: #284AA6ff;
$dark-cornflower-blue: #133A94ff; */
.home {
    background-color: rgb(228, 228, 228);
    height: auto;
    width: 100vw;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.projects {
    height: auto;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
    grid-gap: 10px;
    
}
.testimonial {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.recent_text {
    font-size: 2em;
    letter-spacing: 2px;
    color: rgb(88, 88, 88);
    font-family: 'Alfa Slab One', cursive;
}