<ng-container >
    <div class="service-text-container">
        <h1 class="service-text">View Our Services</h1>
    </div>
   
    <div class="service">
        <mat-card class="service-card">
            <mat-card-header>
                <mat-card-title>Shopify Theme Development</mat-card-title>
                <mat-card-subtitle>Use Liquid to customize your shopify theme</mat-card-subtitle>
            </mat-card-header>
            <img class="liquid-img" src="https://uploads-ssl.webflow.com/5e8da0693907576c4c971121/5fd8ad1b4ec747733d2510b9_Shopify-theme-development-with-liquid.png" mat-card-image>
            <mat-card-actions>
                <button color="primary" class="button" mat-raised-button><a href="#contact">Get Quote</a></button>
              </mat-card-actions>
        </mat-card>
        <mat-card class="service-card">
            <mat-card-header>
            <mat-card-title>Shopify App Development</mat-card-title>
            <mat-card-subtitle>Develop shopify app using react js</mat-card-subtitle>
            </mat-card-header>
            <img class="liquid-img" src="https://yt3.ggpht.com/ytc/AKedOLTRic08v2uu-R-0xqYZWrOrkwY4qyTfN2N5btv9pw=s900-c-k-c0x00ffffff-no-rj" mat-card-image>
            <mat-card-actions>
                <button color="primary" class="button" mat-raised-button><a href="#contact">Get Quote</a></button>
              </mat-card-actions>
        </mat-card> 
        <mat-card class="service-card">
            <mat-card-header>
            <mat-card-title>Serverless Web Development</mat-card-title>
            <mat-card-subtitle>Use AWS Amplify to develop a fullstack web app</mat-card-subtitle>
            </mat-card-header>
            <img class="liquid-img" src="https://pbs.twimg.com/profile_images/1114309924551417856/FKA4cm2x_400x400.png" mat-card-image>
            <mat-card-actions>
                <button class="button" color="primary" mat-raised-button><a href="#contact">Get Quote</a></button>
              </mat-card-actions>
        </mat-card> 
        
    </div>
</ng-container>