@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.service {
    height: 100vh;
    width: 100%;
    background-color: rgb(228, 228, 228);
    margin-top: 80px;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.liquid-img {
    width: 100%;
    height: 320px;
}
.service-card {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button {
    width: 100px;
    height: 35px;
    border: none;
}
.button a {
    text-decoration: none;
    color: whitesmoke;
}
.service-text {
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Alfa Slab One', cursive;
    color: gray;
}
.service-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
   
}
@media only screen and (max-width: 375px){
    .service-text-container {
        display: none;
    }
    .service {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 0px;

    }
    .service-card {
        width: 300px;
        height: 320px;
        margin: 1em;

    }
    .liquid-img {
        width: 120px;
        height: 120px;
    }
    }
    