@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.logo_img {
    color: rgb(0, 0, 0);
    width: 125px;
    height: 100%;
    border-radius: 50%;
}
.logo_text {
    font-size: 1.5em;
    align-self: center;
    margin-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    height: 100%;
    
}
.logo {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media screen and (max-width: 375px) {
    .logo_text {
        display: none;
        
    }
 }